html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


h2,
h3 {
    margin: 0;
    font-size: 30px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    margin: 0;
}


body {
    color: #212121;
    font-size: 15px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    width: 100%;
    padding: 0;
}

.logo__link {
    font-size: 25px;
    line-height: 22px;
    font-weight: 700;
    color: #212121;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu__list {
    display: flex;
}

.menu__list-link {
    font-size: 20px;
    line-height: 22px;
    padding: 0 20px;
    font-weight: 600;
    color: #212121;
}



.preview__inner {
    color: #fff;
    background-image: url(/images/img.png);
    background-repeat: no-repeat;
    width: 1400px;
    min-height: 655px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    line-height: 47px;
    padding-top: 180px;
    margin: 0;
}

.preview__subtitle {
    font-size: 22px;
    line-height: 22px;
    padding-top: 40px;
}

.preview__btn-1 {
    border: 3px solid #fff;
    width: 217px;
    height: 64px;
    outline-style: none;
    text-transform: uppercase;
    background-color: transparent;
    margin-right: 25px;
    padding: 0;
    margin-top: 110px;
}

.preview__btn-2 {
    outline-style: none;
    background-color: #00897b;
    width: 220px;
    height: 64px;
    text-transform: uppercase;
    padding: 0;
}

.preview__btn-1--link {
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    padding: 18px 30px;
}

.preview__btn-2--link {
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    padding: 18px 44px;
}

.preview__anchor {
    margin: 100px 0 70px;
}



.info {
    margin: 125px 0 135px;
}

h2 {
    text-align: center;
    line-height: 22px;
    font-weight: 700;
}

.info__subtitle {
    text-align: center;
    width: 625px;
    margin: 0 auto;
    padding-top: 40px;
}

.info__blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__blocks {
    padding-top: 128px;
    justify-content: center;
    text-align: center;
}

.info__block-title {
    font-size: 20px;
    line-height: 16px;
    font-weight: 600;
    padding-top: 40px;
}

.info__block-text {
    width: 255px;
    padding-top: 30px;
}

.info__block+.info__block {
    margin-left: 145px;
}



.service {
    background-color: #e4fdf9;
    padding: 175px 0 120px;
    width: 100%;
}

h3 {
    text-align: center;
}

.service__block+.service__block {
    margin-left: 31px;
}

.service__subtitle {
    width: 625px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.service__item-1 {
    display: flex;
    margin-top: 58px;
}

.service__item-2 {
    display: flex;
    margin-top: 31px;
}

.service__block {
    background-color: #fff;
    justify-content: center;
    text-align: center;
    width: 370px;
}

.service__block:hover {
    content: '';
    background-color: #00897b;
    transition: all .4s;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
}

.service__icon {
    margin-top: 58px;
    fill: currentColor;
}

.service__title {
    padding-top: 40px;
}

.service__text {
    font-size: 15px;
    padding-top: 25px;
    width: 260px;
    margin: 0 auto;
}

.service__btn {
    margin-top: 48px;
    border: 2px solid #000;
    width: 145px;
    height: 51px;
    outline-style: none;
    text-transform: uppercase;
    background-color: transparent;
    margin-bottom: 48px;
}

.service__btn:hover {
    content: '';
    border-color: #fff;
    color: #fff;
}

.service__btn-link {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.service__btn-link:hover {
    content: '';
    color: #fff;
}

h2 {
    padding-top: 130px;
}

.works__subtitle {
    width: 645px;
    text-align: center;
    margin: 0 auto;
    padding-top: 32px;
}

.tabs__content {
    display: none;
}

.tabs__content--active {
    display: block;
}

.tabs__list {
    display: flex;
    justify-content: center;
    padding-top: 117px;
    list-style-type: none;
}

.tabs__item:not(:last-child) {
    margin-right: 20px;
}

.tabs__btn {
    border: 2px solid #00897b;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tabs__btn:hover {
    background-color: #00897b;
    color: #fff;
}

.tabs__btn--active {
    background-color: #00897b;
    color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    pointer-events: none;
}

.tabs__btn-1 {
    padding: 14px 32px;
}

.tabs__btn-2 {
    padding: 14px 23px;
}

.tabs__btn-3 {
    padding: 14px 17px;
}

.tabs__btn-4 {
    padding: 14px 37px;
}

.content {
    padding-top: 119px;
}

.content__list {
    display: flex;
    flex-wrap: wrap;

}

.content__item+.content__item {
    margin-left: 30px;
}

.content__item {
    position: relative;
}

.content__item-1 {
    margin-top: 30px;
    position: relative;
}

.content__item-1+.content__item-1 {
    margin-left: 30px;
}

.content li {
    display: inline-block;
    width: 370px;
    height: 370px;
}

.content img {
    max-width: 100%;
    display: block;
}

.descr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    color: #fff;
    padding-top: 149px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    opacity: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.descr span {
    font-weight: normal;
    font-size: 15px;
}

.content li:hover .descr {
    opacity: 1;
}

.works__button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 129px;
    padding-bottom: 136px;
}

.works__btn {
    border: 2px solid #00897b;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 21px 64px;
    font-family: 'Roboto', sans-serif;
}

.works__btn:hover {
    background-color: #00897b;
    color: #fff;
}

.price {
    background-color: #f0f1f1;
    padding-top: 127px;
}


.price__subtitle {
    display: flex;
    width: 625px;
    text-align: center;
    margin: 0 auto;
    padding-top: 35px;
}

.price__box {
    padding-top: 130px;
}

.price__box-item {
    min-width: 370px;
    min-height: 667px;
    background-image: url(/images/rectangle.png);
    background-repeat: no-repeat;
    background-color: #fff;
    transition: .3s;
}

.price__box-item:hover {
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
}

.price__box-item:not(:last-child) {
    margin-right: 30px;
}

.item__title {
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding-top: 48px;
    margin: 0;
}

.item__price-text {
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}

.item__price-text sup {
    font-size: 25px;
}

.item__price-excerpt {
    font-size: 17px;
    vertical-align: 5px;
}

.price__box-conditions {
    padding-top: 110px;
    text-align: center;
}

.conditions__list {
    font-size: 17px;
}

.conditions__item {
    border-bottom: 1px solid #bfbfbf;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 14px;
    font-size: 17px;
    line-height: 15px;
}

.conditions__item+.conditions__item {
    padding-top: 37px;
}

.price__box-btn {
    padding-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price__box-button {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 16px 23px;
    font-family: 'Roboto', sans-serif;
}

.price__box-button:hover {
    border: 2px solid #00897b;
    background-color: #00897b;
    color: #fff;
}

.price__box {
    display: flex;
    padding-bottom: 125px;
}